body {
    margin: 0;
    overflow: hidden;
    position: relative;
    width: 100vw;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
}

body > div {
    width: 100vw;
    height: 100vh;
}

body > div > img
{
    position: absolute;
}

.gif {
    height: 100vh;
    width: 100vw; 
}

.slide
{
    animation: moveBus 8s linear forwards;
}

.bus-wrap
{   
    transform: scale(1.5);
    height: 100%;
    position: absolute;
    top: 85vh;
}

.bus
{
    position: absolute;
    animation: busJump 5s infinite;
}

.bus-text
{
    position: absolute;
    z-index: 999;
    top: 76px;
    left: 665px;
    color: #e6a021;
    font-size: 15px;
    width: 63px;
    height: 16px;
    overflow: hidden;
    text-align-last: auto;
}

.bus-text span
{
    width: 600px;
    display: inline-block;
    animation: textScroll 40s linear infinite;
    animation-delay: 2s;
}

.wheels
{
    position: relative;
}

#wheel-left
{
    position: absolute;
    top: -293px;
    left: 338px;
    z-index: 99;
    animation: rotating 2s linear infinite;
}

#wheel-right
{
    position: absolute;
    top: -293px;
    left: 661px;
    z-index: 99;
    animation: rotating 2s linear infinite;
}

.rocket
{
    transform: translate(-35%, -25%);
    position: absolute;
    top: 90vh;
    animation: moveRocketCar 4s linear forwards;
    animation-delay: 9s;
}

@keyframes rotating {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
}

@keyframes busJump {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-15px);
    }
    100% {
      transform: translateY(0);
    }
  }

@keyframes moveBus {
  0% {
    transform: translate(-55%, -25%);
  }
  100% {
    transform: translate(25%, 25%);
  }
}

@keyframes moveRocketCar {
    0% {
        transform: translate(-25%, -25%);
      }
    45% {
      transform: translate(50%, -25%);
    }
    100% {
        transform: translate(180%,-300%) rotate(80deg);
    }
}

@keyframes textScroll
{
    from {
        transform: translateX(0);
      }
      to {
        transform: translateX(-95%);
      }
}

@media (max-height: 600px) and (orientation: landscape) {

    .bus-wrap
    {   
        transform: scale(0.75);
        height: 100%;
        position: absolute;
        top: 35vh;
    }

    .rocket
    {
        top: 83vh;
    }

    .rocket > img {
        width: 20%;
    }
  }